@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(38, 38, 38);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.name {
  margin: 0 auto 1rem auto;
}

.logo-honeycomb {
  margin: 2rem auto;
}

.logo-blocks {
  margin: 2rem auto;
}

.logo-text {
  margin-right: 2rem;
}

.soon-box {
  margin: 2rem auto;
}

.yellow-tag {
  background-color: #facc15;
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  padding: 0 0.5rem;
  line-height: 1.35;
  display: inline-block;
  border-radius: 0.125rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.name-tag {
  /* background-color: #facc15; */
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  padding: 0 0.5rem;
  line-height: 1.2;
  display: inline-block;
  border-radius: 0.125rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (min-width: 768px) {
  .soon-box {
    margin: 6rem auto;
  }

  .yellow-tag {
    font-size: 6rem;
  }
}
